<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
	<listeners>
		<listener class-name="Org.Testing.Resources.ExtentReporterNG" />
	</listeners>

	<test name="Regression1">
		<classes>
			<class name="Org.Testing.TestTriggers.Trigger"/>
		</classes>
	</test>
</suite>
